<div class="card text-center my-4 pb-3">
  <div class="card-header">
    <h3>Metadata for indexed music documents</h3>
  </div>

  <div class="row" >
    <div class="col-md-1">
    </div>
    <div class="col-md-6 pl-3 align-self-center text-left">
	{% csrf_token %}

			<form action="/loaddata/loaded_metadata/" method="POST" enctype="multipart/form-data">

          {% csrf_token %}
          <input type="file" name="jsonfile">

          <br/><br/>

          <select name="indexname" class="px-4 mr-2 custom-select-sm" style="width: 10rem;">
          <option selected>Index name</option>
          {% for index in indices_names %}
          <option value="{{ index }}">{{ index | title }}</option>
          {% endfor %}
          </select>
          
          <input type="submit">
      </form>
    </div>

    <div class="col-md-4">
  <p class="text-justify my-3 px-3 py-1">

  See <a href="/home/docs">Help</a> to find example of supported metadata files.
  <br/> They should be in json format, strictly named after the document id of
  the corresponding already indexed document. If you are not sure about the
  document id, or which index the document belongs to, please see Dashboard.
  <br/> Once metadata is uploaded, it can not be erased. If you wish to update
  any information, you may upload a new metadata file to overwrite the previous
  version.
	
  </p>
    </div>
  </div>
</div>
