
    <div class="col-lg-12 mx-auto mt-3">

<div class="p-3 rounded shadow alert alert-info" >
  <!-- Custom rounded search bars with input group -->

	<h3 class="alert-heading">
	Add a new index
  </h3>
  <h6 class="alert-heading">
	The index name should not include any special characters.
  </h6>
	<br/>

	{% csrf_token %}
		<form action="/loaddata/index_added/" method="POST" enctype="multipart/form-data">
  		{%comment%}<label for="indexname">Index name:</label><br>{%endcomment%}
  		Index name:
  		<input type="text" id="indexname" name="indexname"><br><br>
  		<input type="submit">
  	</form>
</div>

</div>
