{% include 'loaddata/index.html' %}

{% block content %}

<div class="col-lg-7 mx-auto" style="width: 600px;">

{% if musicdoc %}
<div class="text-center" >

<div class="card-header mx-auto">
<h4>
Sucessfully loaded the music score.
<br/>
"{{musicdoc}}" is now under index: {{index_name}}
<br/>
</h4>

<br/>
<button onclick="window.location.href='/home/dashboard/{{index_name}}';" class="mx-auto">
View {{index_name}}
</button>

<button onclick="window.location.href='/home/dashboard/';" class="mx-auto">
View Dashboard
</button>
<br/>


</div>

{% endif %}

{% if zip_id %}
<div class="card-header mx-auto">

Successfully loaded the zip file.
<br/>

Scores in {{zip_id}} is now under index: {{index_name}}

<button onclick="window.location.href='/home/dashboard/{{index_name}}';" class="mx-auto">
View {{index_name}}
</button>

<button onclick="window.location.href='/home/dashboard/';" class="mx-auto">
View Dashboard
</button>
<br/>

</div>

{% endif %}

{%comment%}
<div class="mx-auto">
<br/>
<button onclick="window.location.href='/home/dashboard/{{index_name}}';" class="mx-auto">
View {{index_name}}
</button>

<button onclick="window.location.href='/home/dashboard/';" class="mx-auto">
View Dashboard
</button>
<br/>

</div>
{%endcomment%}
</div>
</div>
{% endblock %}
