{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% comment %}should learn to properly use static files with django{% endcomment %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/static/search/style.css">
<link rel="stylesheet" type="text/css" href="/static/search/font-awesome.min.css">

<title>{{ globalvariables.longname }}</title>
  </head>
  <body>
{% block content %}
{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% comment %}<script src="http://www.verovio.org/javascript/latest/verovio-toolkit-wasm.js" defer></script>{% endcomment %}
<script src="/static/js/verovio-toolkit.js"></script>
<script>
 //   document.addEventListener("DOMContentLoaded", (event) => {
  //      Module.onRuntimeInitialized = async _ => {
            let vrvToolkit = new verovio.toolkit();
            console.log("Verovio has loaded!");
            var vrvOptions = {
                scale : 35,
                pageHeight : 100,
                adjustPageHeight : 1,
            };
            vrvToolkit.setOptions(vrvOptions);


//      fetch("https://www.verovio.org/examples/downloads/Schubert_Lindenbaum.mei")
//        .then( (response) => response.text() )
//        .then( (meiXML) => {
//          let svg = tk.renderData(meiXML, {});
//          document.getElementById("notation").innerHTML = svg;
//        });
//      }
//  });
</script>

  </body>
</html>
