.document.keyboardWrap div
{
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
}
.document.keyboardWrap a
{
  color: #600;
  text-decoration: none;
}
.document.keyboardWrap a:hover
{
  text-decoration: underline;
}
#presentation
{
  margin: 0 auto;
  width: 560px;
  background: #fff;
}
#mypiano
{
  width: 100%;
  text-align: center;
}
.piano
{
  margin: 0 auto;
  width: 588px;
  height: 200px;
  display: block;
  background: #eee;
  z-index: 10;
  cursor: pointer;
}
.melody
{
  margin: 20px auto;
  width: 560px;
  z-index: 10px;
  display: none;
}
.melody p
{
  clear: both;
  margin: 5px 0;
  padding: 0;
}
.melody p#notes
{
  padding: 5px 0;
  border: 1px solid #ccc;
  height: 60px;
  overflow: auto;
}
.melody span.note
{
  float: left;
  padding: 0 5px;
}
.seepartition
{
  margin: 0 auto;
  width: auto;
  height: 80px;
}
.document p.partition
{
  position: relative;
  background: #fff url(../images/piano/partition/cledesol.gif) 0 0 no-repeat;
  margin: 10px 0px 0px 20px;
  min-height: 80px;
  padding-left: 30px;
	line-height: 1em;
	padding-top: 0px;
	padding-bottom: 0px;
}
.partition span
{
  position: relative;
  float: left;
  padding-left: 15px;
  width: 15px;
  height: 80px;
  background: url(../images/piano/partition/partition_bg.gif);
}
* html .partition span
{
  width: 30px;
}
.partition span img
{
  position: absolute;
  top: 0;
  left: 15px;
}
.whitetab
{
  text-align: center;
  text-transform: uppercase;
  color: #000;
  background: #fff url(../images/piano/whitetab.gif) 0 0 no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
}
.whitetab p
{
  margin: 0;
  padding: 20px 0;
}
.blacktab
{
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #000 url(../images/piano/blacktab.gif) 0 0 no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
}
.blacktab p
{
  margin: 0;
  padding: 10px 0;
}
.whitetab:hover,
.diese:hover,
.bemol:hover
{
 /* border: 1px solid #c00*/;
}
.hover
{
  background-position: 0 -200px;
}
.pressure
{
  margin: 0 auto;
  margin-top: -200px;
  width: 596px;
  height: 200px;
  background: #fff url(../images/piano/pressure.gif) 0 0 no-repeat;
  z-index: 1;
  display: none;
}
.p8
{
  background-position: 0 -200px;
}
.p4
{
  background-position: 0 -400px;
}
.p2
{
  background-position: 0 -600px;
}
.p1
{
  background-position: 0 -800px;
}
a.bvalidate
{
  display: block;
  margin: 10px 0;
  padding: 5px;
  font-size: 11pt;
  font-weight: bold;
  color: #fff;
  background: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.clear
{
  clear: both;
}