/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

h1 {
/*color: red;*/
padding: 20px 100px; /* hard code, */
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  /*background: #ffd89b;*/
  /*background: -webkit-linear-gradient(to right, #ffd89b, #19547b);*/
  /*background: linear-gradient(to right, #ffd89b, #19547b);*/
  min-height: 100vh;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

 /* Style the tab */
.searchtab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.searchtab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.searchtab button:hover {
  background-color: #19547b;
  /*background-color: #ddd;*/
}

/* Create an active/current tablink class */
.searchtab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.searchtabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 
