/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

h1 {
/*color: red;*/
padding: 20px 100px; /* hard code, */
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  /*background: #ffd89b;*/
  /*background: -webkit-linear-gradient(to right, #ffd89b, #19547b);*/
  /*background: linear-gradient(to right, #ffd89b, #19547b);*/
  min-height: 100vh;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

 /* Style the tab */
.searchtab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.searchtab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.searchtab button:hover {
  background-color: #19547b;
  /*background-color: #ddd;*/
}

/* Create an active/current tablink class */
.searchtab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.searchtabcontent {
  display: none;
} 

#formwrap {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-top: 0px;
}

.resultitem {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 3px ;
}

.highlight {
  color: #c00;
  fill: #c00;
  stroke: #c00;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsiblecontent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 

.melody {
display: none;
}
/*violet #5B00AAa*/
/*rouge #FC0000*/
/*jaune #FCFC00*/
/*vert #00FC00*/
/*cyan #00FCFF*/
/*bleu #0000FF*/

.discovery {
text-decoration: underline #5B00AA;
text-decoration-thickness: 0.2em;
}

.search {
text-decoration: underline #FC0000;
text-decoration-thickness: 0.2em;
}

.docs {
text-decoration: underline #00FC00;
text-decoration-thickness: 0.2em;
}

.dashboard {
text-decoration: underline #00FCFF;
text-decoration-thickness: 0.2em;
}

.loaddata {
text-decoration: underline #0000FF;
text-decoration-thickness: 0.2em;
}

.about {
text-decoration: underline #FCFC00;
text-decoration-thickness: 0.2em;
}

.navactive.loaddata {
background-color: #0000FF;
border-radius: 8px;
}
.navactive.about {
background-color: #fcfc00;
border-radius: 8px;
}
.navactive.docs {
background-color: #00FC00;
border-radius: 8px;
}
.navactive.dashboard {
background-color: #00fcff;
border-radius: 8px;
}
.navactive.discovery {
background-color: #5B00AA;
border-radius: 8px;
}
.navactive.home {
background-color: #bbb;
border-radius: 8px;
}
.navactive.search {
background-color: #FC0000;
border-radius: 8px;
}
