{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}

{% load static %}

<div class="container">

  <div class="row mb-8">
    <div class="col-lg-8 mx-auto">
      <h1 class="text-center">About {{ globalvariables.sitename }}</h1>
        <div class="alert alert-success">
      <p>
        FACETS is a pilot from the <a href="https://polifonia-project.eu/">Polifonia project</a> (European
        Union’s Horizon 2020 research and innovation programme). It is developed
        at <a href="http://www.cnam.fr">CNAM
          Paris</a>, in the <a href="http://cedric.cnam.fr">CÉDRIC computer science
          lab</a>, by the Vertigo team (Tiange Zhu, Raphaël Fournier-S'niehotta,
        Philippe Rigaux). </p>

      <p>
        The development relies on <a
          href="https://github.com/polifonia-project/facets-search-engine">Github</a>.
        The code is open-source (MIT License).
      </p>
      <a href="http://www.cnam.fr"><img src="/static/images/lecnamlogo.jpg" width="200" alt="cnam logo"></a>
      <a href="https://polifonia-project.eu/"><img src="/static/images/polifonia-black.png" width="200" alt="polifonia logo"></a>
      
    </div>
    </div>
  </div>

</div>
{% endblock %}
