{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}

{% load static %}

<div class="container">

  <div class="row mb-8">
    <div class="col-lg-8 mx-auto mb-5">
      <h1 class="text-center">About</h1>
      {% include 'home/about-box.html' %}
    </div>
  </div>
  <div class="row mb-8">
    <div class="col-lg-2 mx-auto mb-5">
  </div>
    <div class="col-lg-8 mx-auto mb-5">
      <h2><a href="https://polifonia-project.eu/">https://polifonia-project.eu/</a></h1>
        <h2><a href="http://neuma-dev.huma-num.fr/">http://neuma-dev.huma-num.fr/</a></h1>
  </div>
  </div>

</div>
{% endblock %}
