<div class="card alert alert-secondary">
  <p>
  FACETS is a pilot from the <a href="https://polifonia-project.eu/">Polifonia project</a> (European
  Union’s Horizon 2020 research and innovation programme). It is developed
  at <a href="http://www.cnam.fr">CNAM
    Paris</a>, in the <a href="http://cedric.cnam.fr">CÉDRIC computer science
    lab</a>, by the Vertigo team (Tiange Zhu, Raphaël Fournier-S'niehotta,
  Philippe Rigaux). </p>

  <p>
  Coucou
  The development relies on <a href="https://github.com/polifonia-project/facets-search-engine">Github</a>.
  The code is open-source (MIT License). <br/><br/> 
  {% if commit and date %}
  This demo website is powered by version <em><a href="https://github.com/polifonia-project/facets-search-engine/commit/{{ commit }}">{{ commit }}</a> ({{ date }})</em> of the code.
  {% endif %}
  </p>
  <div style="text-align:center">
  <a class="mx-3" href="https://polifonia-project.eu/"><img src="/static/images/polifonia-black.png" width="200" style="border-radius: 8px;" alt="polifonia logo"></a>
  <a class="mx-3" href="http://www.cnam.fr"><img src="/static/images/lecnamlogo.jpg" width="200" style="border-radius: 8px;" alt="cnam logo"></a>
  </div>

</div>
