{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
	<div class="row mb-8">

		<div class="col-lg-2 mx-auto">
		</div>

		<div class="col-lg-8 mx-auto">
            <h1 class="text-center">Dashboard</h1>

			<div class="card text-center">
				<div class="card-header">
          {% if indices_number > 1%}
          <h3>{{ indices_number }} indices</h3>
          {% else %}
          <h3>{{ indices_number }} index</h3>
          {% endif%}
				</div>
				<ul class="list-group">
					{% for k, v in indices_stats.items %}
					{% if disable_scorelib == False %}
					<li class="list-group-item d-flex justify-content-between align-items-center ">
						{{ k }}
						<span class="badge badge-light badge-pill foobar"><a href="{{ k }}/">{{ v }} docs</a></span>
					</li>
					{% elif k != 'scorelib' and k != 'Scorelib' %}
					<li class="list-group-item d-flex justify-content-between align-items-center ">
						{{ k }}
						<span class="badge badge-light badge-pill"><a href="{{ k }}/">{{ v }} docs</a></span>
					</li>
					{% endif %}
					{% endfor %}					
				</ul>
			</div>
		</div>

		<div class="col-lg-2 mx-auto">
		</div>

	</div> <!-- row -->
</div> <!-- container -->



{% endblock %}
