{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}

<div class="container" style="font-size: 18px">
  <div class="row mb-8">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-center">Documentation</h1>

      <div class="my-4 pb-3 text-justify"> 

        <h2>What is FACETS?</h2>
        <p>

        Facets is a component to be integrated in the website of a cultural
        institution to easily share and explore music documents stored in a
        symbolic format. Musicologists may also use it to give access to their
        corpora to their colleagues.

        The envisioned workflow is the following:
        <ol>
          <li>a <b>collection manager</b> uploads some documents, with the
            <a href="/loaddata">Data management</a> and <a
              href="/dashboard">Dashboard</a> tabs</li>
          <li><b>end users</b> may explore the collections the <a
              href="/discovery">Discovery</a> or <a href="search">Search</a>
            interfaces. </li>
        </ol>
        </p>

        <h3>Detailed presentation of the FACETS platform and its features</h3>
        <ul>

        <li> <b>Index/indices:</b> FACETS collections are called indices
          (index). There is no hierarchy between indices, and thus it is
          recommended to use meaningful names for indices, reflecting their
          content. However, FACETS is built on ElasticSearch and may be able to
          handle a very large number of documents inside a single index. </li>

        <li> The <b>Data management</b> tab contains a form to create those
          indices. Once you have created an index, you may populate it with
          data. The Data management tab has several forms to upload data files
          and metadata. </li> 


        <li> The <b>Dashboard</b> tab allows to view the current state of the
          platform. It first presents the list of indices. Once you click on an
          index, you get the list of documents that belong to this index. </li>

        <li> The <b>Discovery</b> tab proposes an exploration of the collections
          through facets, <i>i.e.,</i> some values are computed on every
          document and filters associated to those values are presented. It
          helps in exploring and navigating the collections, without requiring
          the user to have a precise idea beforehand. </li>

        <li> The <b>Search</b> tab offers the user the possibility to search for
          a melodic or rhythmic pattern in an index, and to find where the
          occurrences of this pattern are located in every document. Search
          results are presented very similarly as a traditional text-based
          search engine. The search input can be made through a piano-like
          keyboard, or in the ABC format (text-based). </li>

        <li> There is also a <a href="#tuto-rest">REST API</a>. You will find below
          example commands to use FACETS from the command line. </li>

        </ul>


        <h3>Dissemination and sustainability</h3>

        FACETS is written in <a href="">Django (Python)</a>, with <a
          href="http://elastic.co">ElasticSearch</a> as a backend. This choice
        of open source components enables anyone to fork the <a
          href="https://github.com/polifonia-project/facets-search-engine">Github
          repository</a> and get started on customising FACETS to their specific
        needs. A <a href="">Docker image</a> is also available to ease the
        adoption of the tool.

        A <a href="http://neuma-dev.huma-num.fr/">demo website is available on
          Huma-Num</a>, a reference platform hosting many French human sciences
        projects (funded by the French CNRS agency).

        FACETS started as a component from the <a
          href="http://neuma.huma-num.fr/">NEUMA</a> platform.

        {% comment %}<ul>{% endcomment %}
          {% comment %}<li>{% endcomment %}

          {% comment %}</li>{% endcomment %}
        {% comment %}</ul>{% endcomment %}

      </div> 

      <hr>

      <div class="my-4 pb-3">
        <h2><a name="tuto-rest">Get started with FACETS' command line interface</a></h2>

        <button type="button" class="collapsible">Toggle tutorial commands</button>
        <div class="collapsiblecontent">

          <ul>
            <li>1. First create an index called "myindex":<br/>
              <code>curl -X PUT  http://localhost:8000/rest/index/myindex/ </code></li>

            <li>2.1 Import the first music score "001.mei" from the folder "data":<br/>
              <code>curl -X PUT -H "Content-type:application/mei"
                http://localhost:8000/rest/index/myindex/friuli001/ -d @data/friuli001.mei  </code></li>

            <li>2.2(optional) Import more MEI score samples from the folder "data":<br/>
              <code>curl -X PUT -H "Content-type:application/mei"
                http://localhost:8000/rest/index/myindex/terpsichore026/ -d @data/terpsichore026.mei
              </code></li>

              <li>2.3(optional) Import a XML score from "data":<br/>
                <code>curl -X PUT -H "Content-type:application/xml"
                  http://localhost:8000/rest/index/myindex/couperin/ -d @data/couperin.xml </code></li>

              <li>2.4(optional) Import a zip of score samples from "data":<br/>
                <code>curl -X PUT -H "Content-type:application/zip"
                  http://localhost:8000/rest/index/myindex/bwv3zip/ --data-binary @data/bwv3.zip
                </code></li>

                <li>2.5(optional) Import a kern score sample:<br/>
                  <code>curl -X PUT -H "Content-type:application/krn"
                    http://localhost:8000/rest/index/myindex/danmark/ --data-binary @data/danmark1.krn
                  </code></li>

                  <li>2.6(optional) Import an abc score sample:<br/>
                    <code>curl -X PUT -H "Content-type:application/abc"
                      http://localhost:8000/rest/index/myindex/abctest/ --data-binary @data/test.abc
                    </code></li>

                    <li>2.7(optional) Import a MusicXML score sample:<br/>
                      <code>curl -X PUT -H "Content-type:application/musicxml"
                        http://localhost:8000/rest/index/myindex/testmxml/ --data-binary @data/Gas0301f.musicxml
                      </code>
                      <br/>
                      OR:
                      <br/>
                      <code>curl -X PUT -H "Content-type:application/vnd.recordare.musicxml+xml" 
                        http://localhost:8000/rest/index/myindex/testmxml/ -d @data/Gas0301f.musicxml
                      </code>

                      <li>3. Use a defined query(search type: diatonic) in the folder "queries":
                        <code>curl -X POST http://localhost:8000/rest/index/myindex/_search -d @queries/test_dia1.json </code></li>

                      <li>3.2(optional) More samples for pattern search
                        Test the search engine with a mirror query<br/>
                        <code>curl -X POST http://localhost:8000/rest/index/myindex/_search -d
                          @queries/test_mir1.json </code>
                        <br/>

                        Test chromatic search<br/>
                        <code>curl -X POST http://localhost:8000/rest/index/myindex/_search -d @queries/test_chr1.json </code>
                        <br/>
                        Test rhythmic search<br/>
                        <code>curl -X POST http://localhost:8000/rest/index/myindex/_search -d @queries/test_rhy2.json </code></li>
                      </p>
        </div>
      </div>

      <div class="my-4 pb-3">
        <h2>{{ globalvariables.sitename }}'s REST API</h2>
        <button type="button" class="collapsible">Toggle basic commands</button>
        <div class="collapsiblecontent">
          <p>
          <ul>
            <li> Create an index given index name: 
              <code>curl -X PUT  http://{{ hostport }}/rest/index/index_name/</code> </li>

            <li> Retrieve information of an index: 
              <code>curl -X GET  http://{{ hostport }}/rest/index/index_name/</code> </li>

            <li> Index a MEI format music score: 
              <code>curl -X PUT -H "Content-type: application/mei"
                http://localhost:8000/rest/index/index_name/doc_id/ -d @file_path </code></li>

            <li>Get info of the music document: 
              <code>curl -X GET  http://localhost:8000/rest/index/index_name/doc_id/ </code></li>

            <li> Initiate a search under an index: 
              <code>curl -X POST http://localhost:8000/rest/index/index_name/_search -d
                @json_path </code></li>

            <li> Delete an indexed document from ES: 
              <code>curl -X DELETE
                http://localhost:9200/index_name/_doc/doc_id_that_you_want_delete</code>
            </li>
          </ul>
          </p>
        </div>
      </div>
    </div>

  </div>
</div> 


{% include 'home/collabsiblejs.html' %}
{% endblock %}

