{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}
{%comment%}
<link rel="stylesheet" href="/static/csstheme/CUSTOM.css" type="text/css" media="screen" />
{%endcomment%}
<div class="container">
  <div class="row mb-8">

    <div class="col-lg-1 mx-auto">
    </div>

    <div class="col-lg-10 mx-auto">
      <h1 class="text-center">Index {{ index_name }}: overview</h1>

      <div class="card text-center">
      	
        <div class="card-header">
            Index <span style="color:#00bb00;">{{ index_name }}</span> contains {{ info.docs_number }} docs.
        </div>

			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Document ID</th>
						<th scope="col">Title</th>
						<th scope="col">Composer</th>
					</tr>
				</thead>
				<tbody>
					{% for k, v in documents.items %}
					<tr>
						{% if pg.number == 1 %}
						<th scope="row">{{ forloop.counter }}</th>
						{% else %}
						let numval = forloop.counter+startfrom;
						<th scope="row">{{ numval }}</th>
						{% endif %}
                        <td><a href="{{ k }}">{{ k }}</a></td>
                        <td>{{ v.source.title }}</td>
						<td>{{ v.source.composer }}</td>
						<td ><a href="#" onclick="toggle_visibility('res{{ forloop.counter }}');">
						<button type="button" class="btn btn-primary" aria-label="abstract"> Toggle doc </button> </a>
						</td>
					</tr>
					<tr>
						<td colspan="4"><div id="res{{ forloop.counter }}"
                                style="display:none;">{{ v.source }}</div></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
      </div>
    </div>

    <div class="col-lg-1 mx-auto">
    </div>

  </div> <!-- row -->
</div> <!-- container -->

<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>

		<div class="pagination justify-content-center">
      	<span class="step-links">
      	{%if pg.has_previous %}
      	<a href="?page=1">First</a>
		{% endif %} 
      	{%if pg.previous_page_number != 1%}
		<a href="?page={{pg.previous_page_number}}">Previous</a>
		{% endif %}

		<span class="current">
			Page {{pg.number}} of {{pg.paginator.num_pages}}
		</span>
		
		{%if pg.has_next %}
		<a href="?page={{pg.next_page_number}}">Next</a>
		{% endif %}
		{%if pg.next_page_number != pg.paginator.num_pages%}
		<a href="?page={{pg.paginator.num_pages}}">Last</a>
		{% endif %}
		</span>
      	</div>

{% endblock %}
