{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
  <div class="row mb-8">

    <div class="col-lg-1 mx-auto">
    </div>

    <div class="col-lg-10 mx-auto">
      <h1 class="text-center">Index {{ index_name }}: overview</h1>

      <div class="card text-center">
        <div class="card-header">
          Index {{ index_name }} contains {{ info.docs_number }} docs.
        </div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Corpus_ref</th>
						<th scope="col">Title</th>
						<th scope="col">Composer</th>
					</tr>
				</thead>
				<tbody>
					{% for k, v in documents.items %}
					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td>{{ k }}</td>
						<td>{{ v.title }}</td>
						<td ><a href="#" onclick="toggle_visibility('res{{ forloop.counter }}');">
<button type="button" class="btn btn-primary" aria-label="abstract"> Toggle doc </button> </a>
</td>
					</tr>
					<tr>
						<td colspan="4"><div id="res{{ forloop.counter }}" style="display:none;">{{ v }}</div></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
      </div>
    </div>

    <div class="col-lg-1 mx-auto">
    </div>

  </div> <!-- row -->
</div> <!-- container -->

<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>



{% endblock %}
