{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
  
  <div class="row mb-8">
    <div class="col-lg-12 mx-auto">
        <h1 class="text-center">Welcome to the {{ globalvariables.longname }}</h1>
      <p class="text-center">
You may:
{% comment %}<div class="btn-group" role="group" aria-label="Basic example">{% endcomment %}
	<a href="/loaddata" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Load data</a>
	<a href="/search" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Search</a>
	<a href="/home/dashboard" class="btn btn-info btn-lg" role="button" aria-pressed="true">View your data</a>
	<a href="/home/docs" class="btn btn-success btn-lg" role="button" aria-pressed="true">How to</a>
{% comment %}</div>{% endcomment %}
      </p>
    </div>

    <div class="col-lg-8 mx-auto">
        <div class="alert alert-secondary" style="margin-top:100px;">
      <p>
        FACETS is a pilot from the <a href="https://polifonia-project.eu/">Polifonia project</a> (European
        Union’s Horizon 2020 research and innovation programme). It is developed
        at <a href="http://www.cnam.fr">CNAM
          Paris</a>, in the <a href="http://cedric.cnam.fr">CÉDRIC computer science
          lab</a>, by the Vertigo team (Tiange Zhu, Raphaël Fournier-S'niehotta,
        Philippe Rigaux). </p>

      <p>
        The development is publicly visible on <a
          href="https://github.com/polifonia-project/facets-search-engine">Github</a>.
        The code is open-source (MIT License).
      </p>
    <div class="col-lg-8 mx-auto">
      <a href="http://www.cnam.fr"><img src="/static/images/lecnamlogo.jpg" width="200" alt="cnam logo"></a>
      <a href="https://polifonia-project.eu/"><img src="/static/images/polifonia-black.png" width="200" alt="polifonia logo"></a>
    </div>
    </div>
  </div> <!-- row -->

</div> <!-- container -->
{% endblock %}
