{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}

{% comment %}<script src="/static/js/verovio-toolkit.js"></script>{% endcomment %}
{% comment %}<script>var vrvToolkit = new verovio.toolkit();</script>{% endcomment %}


<div class="container">
    <div class="row mb-8">

        <div class="col-lg-2 mx-auto">
        </div>

        <div class="col-lg-8 mx-auto">
            <h1 class="text-center">{{ globalvariables.sitename }} MusicDoc View</h1>

            <div class="card text-center">
                <div class="card-header">
                    URL of the score is {{doc_url}}
                </div>
                {% if doc_url %}
                coucou
    <script type="text/javascript">
    /* Load the file using HTTP GET */
    console.log ("obtenons {{doc_url}}");
    document.addEventListener('DOMContentLoaded', (event) => {
        $.ajax({
            url: "{{doc_url}}"
            , dataType: "text"
            , success: function(data) {
                let svg = vrvToolkit.renderData(data);
                document.getElementById("notation").innerHTML = svg;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log("Error with document {{doc_url}} " + xhr.status);
            }
        });
    });
    </script>       

    <table class="preview"><tr>
        <td valign="top"> </td>
        <td>     <div id="notation">score placeholder</div> </td>
        {% comment %}<td>{{ opus.mei }} </td>{% endcomment %}
    </tr>
    </table>
                {% else %}
                no score to display
                {% endif %}
            </div>
        </div>

        <div class="col-lg-2 mx-auto">
        </div>

    </div> <!-- row -->
</div> <!-- container -->

{% endblock %}
