{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}


<div class="container">
    <div class="row mb-12">


        <div class="col-lg-10 mx-auto">
            <h1 class="text-center">{{ doc_id }} ({{ doc_type }}) </h1>

            <div class="card">
                <div class="card-header">
                  Document ID: {{ doc_id }} <br/>
                  {% if title != null and title != "" %}
                  Title: {{ title }} <br/>
                  {% else %}
                  {% endif %}
                  {% if composer != null and composer != ""%}
                  Composer: {{ composer }} <br/>
                  {% else %}
                  {% endif %}
                  Score format: {{ doc_type }}
                </div>
    
                {% if doc_url %}
                <script type="text/javascript">
                /* Load the file using HTTP GET */
                console.log ("Obtained {{doc_url}}");
                document.addEventListener('DOMContentLoaded', (event) => {
                    $.ajax({
                        url: "{{doc_url}}", 
                        dataType: "text", 
                        success: function(data) {
                            let svg = vrvToolkit.renderData(data);
                            document.getElementById("notation").innerHTML = svg;
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log("Error with document {{doc_url}} " + xhr.status);
                        }
                    });
                });
                </script>       

                <table class="preview">
                  <tr>
                    {% comment %}<td valign="top"> </td>{% endcomment %}
                    <td>     <div id="notation" style="padding: 12px">
                    loading score...
                    </div> </td>
                </tr>
                </table>
                
        {%if doc_type == 'krn'%}
        <div>
        The support of visualization of Humdrum files is coming soon...
        </div>
        {%endif%}
                {% else %}
                no score to display
                {% endif %}
            </div>
        </div>


    </div> <!-- row -->
</div> <!-- container -->

{% endblock %}
