arrow
asgiref
certifi
chardet
charset-normalizer
coreapi
coreschema
cycler
Django
django-debug-toolbar
django-elasticsearch-dsl
django-elasticsearch-dsl-drf
django-nine
djangorestframework
drf-yasg
elastic-transport
elasticsearch
elasticsearch-dsl
flake8
fonttools
gunicorn
idna
inflection
itypes
Jinja2
joblib
jsonpickle
kiwisolver
MarkupSafe
matplotlib
mccabe
more-itertools
music21
numpy
packaging
Pillow
pycodestyle
pyflakes
pyparsing
python-dateutil
pytz
requests
ruamel.yaml
ruamel.yaml.clib
six
sqlparse
uritemplate
urllib3
webcolors
attributedict
