#site_name[data-v-4a5666dc] {
  font-size: 25px;
}
.footer[data-v-aa3fef70] {
  background-image: linear-gradient(120deg, #6400b5, red);
  //background-color: #6400b5;
  //background-color: #92a8d1;
}
.bglink a[data-v-aa3fef70]:link,
.bglink a[data-v-aa3fef70]:visited {
  text-decoration: none;
}
.bglink a[data-v-aa3fef70]:hover {
  text-decoration: underline;
}
.bglink a[data-v-aa3fef70]:active {
  text-decoration: none;
}
.main {
  //background-image: url(/patterns/img/bg3.6a901bb1.jpg);
  background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0.75),
      hsla(0, 0%, 100%, 0.3)
    ),
    url(/patterns/img/bg3.6a901bb1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.btn-primary[data-v-3a57bb3d] {
  background-image: linear-gradient(120deg, #6400b5, red);
  //border-color: #6400b5;
  border-color: #fff;
}
.citationWindow[data-v-240d186f] {
  max-width: 500px !important;
}
.stave[data-v-bd93682a] {
  max-width: 300px;
}
.eu[data-v-d461e6de] {
  display: grid;
  align-items: center;
}
.alert-primary {
  color: #20003a;
  background-color: #c782ff;
  border-color: #bd6dff;
}
.alert-primary hr {
  border-top-color: #b254ff;
}
.alert-primary .alert-link {
  color: #040007;
}
.badge-primary {
  color: #fff;
  background-color: #6400b5;
}
.badge-primary[href]:focus,
.badge-primary[href]:hover {
  color: #fff;
  background-color: #470082;
}
.bg-primary {
  background-color: #6400b5 !important;
}
a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: #470082 !important;
}
.border-primary {
  border-color: #6400b5 !important;
}
.btn-primary {
  background-image: linear-gradient(120deg, #6400b5, red);
  //border-color: #6400b5;
  border-color: #fff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #500091;
  border-color: #470082;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(100, 0, 181, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #6400b5;
  border-color: #6400b5;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #470082;
  border-color: #3f0072;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(100, 0, 181, 0.5);
}
.btn-outline-primary {
  color: #6400b5;
  background-color: transparent;
  border-color: #6400b5;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #6400b5;
  border-color: #6400b5;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(100, 0, 181, 0.5);
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #6400b5;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #6400b5;
  border-color: #6400b5;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(100, 0, 181, 0.5);
}
.btn-active-bg,
.btn-check:checked + .btn,
/*.btn.active,*/
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-image: linear-gradient(120deg, #6400b5, red);
}
.btn-outline-primary {
  --bs-btn-color: #bd6dff;
  --bs-btn-border-color: #bd6dff;
}
.form-check-input:checked {
  //background-image: linear-gradient(120deg, #6400b5, red);
  background-color: #6400b5;
  border-color: #6400b5;
}
.list-group-item-primary {
  color: #20003a;
  background-color: #bd6dff;
}
.list-group-item-primary.list-group-item-action:focus,
.list-group-item-primary.list-group-item-action:hover {
  color: #20003a;
  background-color: #b254ff;
}
.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #20003a;
  border-color: #20003a;
}
.table-primary,
.table-primary > td,
.table-primary > th {
  background-color: #bd6dff;
}
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #b254ff;
}
.text-primary {
  color: #6400b5 !important;
}
a.text-primary:focus,
a.text-primary:hover {
  color: #470082 !important;
}
ul.dropdown-menu {
  background-image: linear-gradient(120deg, #6400b5, red);
  //background-color: #6400b5;
}
