

/****************************************/
/*     	       Paginateur       */							
/****************************************/

.document ul paginator
{
  uwidth: 90px;
  float: left;
  margin-top: 12px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.45em;
  list-style-image: none;
}
.document ul.paginator li
{	
  display: inline;
}
.document ul.paginator li a
{	
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 6px;
  background-color: none;
}

.document ul.paginator li.nextRight a
{
  background-image: url(../images/spriteRight.png);
}
.document ul.paginator li.nextRight a:hover
{
  background-position: 0px -16px;
}
.document ul.paginator li.nextRight a:active
{
  background-position: 0px -32px;
}

.document ul.paginator li.lastRight a
{
  background-image: url(../images/spriteRightEnd.png);
}
.document ul.paginator li.lastRight a:hover
{
  background-position: 0px -16px;
}
.document ul.paginator li.lastRight a:active
{
  background-position: 0px -32px;
}


.document ul.paginator li.left a
{
  background-image: url(../images/spriteLeft.png);
}
.document ul.paginator li.left a:hover
{
  background-position: 0px -16px;
}
.document ul.paginator li.lef a:active
{
  background-position: 0px -32px;
}

.document ul.paginator li.leftend a
{
  background-image: url(../images/spriteLeftEnd.png);
}
.document ul.paginator li.leftend a:hover
{
  background-position: 0px -16px;
}
.document ul.paginator li.leftend a:active
{
  background-position: 0px -32px;
}

