<div class="rounded shadow alert" style="width: 800px;">
<h4 class="alert-heading ">Search content</h4>
{% if abcpattern %}
<script src="/static/js/abcjs-basic-min.js" type="text/javascript"></script>
                
<script type="text/javascript">
                var ABCpattern = "{{abcpattern}}";
                
                function load() {
                    ABCJS.renderAbc('paper', ABCpattern);
                }
</script>

<body onload="load()">
                <div class="container">
                <div id="paper"></div>
                </div>
</body>

{%comment%}
                <script type="text/javascript">
                var vrvOptions = {
                    inputFormat : 'abc'
                };
                /* Load the file using HTTP GET */
                document.addEventListener('DOMContentLoaded', (event) => {
                    $.ajax({
                        ABC pattern: "{{abcpattern}}", 
                        dataType: "text", 
                        success: function(data) {
                            let svg = vrvToolkit.renderData(data);
                            document.getElementById("notation_abcquery").innerHTML = svg;
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log("Error with {{abcpattern}} " + xhr.status);
                        }
                    });
                });
                </script>       

                <table class="preview"><tr>
                    <td valign="top"> </td>
                    <td>     <div id="notation_abcquery">ABC query placeholder</div> </td>
                </tr>
                </table>
{%endcomment%}
                {% else %}
                no score to display
{%endif%}
</div>