<div class="rounded shadow alert" style="width: 800px;">
<h4 class="alert-heading ">Search content</h4>
{% if abcpattern %}
<script src="/static/js/abcjs-basic-min.js" type="text/javascript"></script>
                
<script type="text/javascript">
                var ABCpattern = "{{abcpattern}}";
                
                function load() {
                    ABCJS.renderAbc('paper', ABCpattern);
                }
</script>

<body onload="load()">
                <div class="container">
                <div id="paper"></div>
                </div>
</body>

                {% else %}
                no score to display
{%endif%}
</div>