{% extends 'base.html'%}
<link rel="stylesheet" href="search/static/search/style.css">
{% block content %}
{% include 'navbar.html' %}

<form action="/search/discovery_result/" method="post">
<div class="container">
{% csrf_token %}

  <div class="row mb-5">
    <div class="col-lg-12 mx-auto">
      <h1 class="text-center">Discovery</h1>
        <div class="card text-center">
        <ul class="list-group ">
              <div class="card-header">
              <div>
              Composers
              </div>
              <select multiple="true" name="composer" class="px-4 mx-2 custom-select custom-select-sm">
              <optgroup label = "Composers">
                  <option selected>Not selected</option>
                  {% for composer in list_composer %}
                  <option value="{{ composer }}">{{ composer | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
            </div>
              <br/>
              
              <div class="card-header">
              <div>
              Period
              </div>
              <select multiple="true" name="period" class="px-4 mx-2 custom-select custom-select-sm">
              <optgroup label = "Period">
                  <option selected>Not selected</option>
                  {% for period in list_period %}
                  <option value="{{ period }}">{{ period | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>
              <br/><br/>


              <div class="card-header">
              <div>
              Key
              </div>
              <select multiple="true" name="key" class="px-4 mx-2 custom-select custom-select-sm">
              <optgroup label = "Key">
                  <option selected>Not selected</option>
                  {% for key in list_key %}
                  <option value="{{ key }}">{{ key | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>
              <br/><br/>

              <div class="card-header">
              <div>
              Time Signature
              </div>
              <select multiple="true" name="timesig" class="px-4 mx-2 custom-select custom-select-sm">
              <optgroup label = "Time Signature">
                  <option selected>Not selected</option>
                  {% for timesig in list_timesig %}
                  <option value="{{ timesig }}">{{ timesig | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>
              <br/><br/>

              <div class="card-header">
              <div>
              Instruments
              </div>
              <select multiple="true" name="instrument" class="px-4 mx-2 custom-select custom-select-sm">
              <optgroup label = "Instruments">
                  <option selected>Not selected</option>
                  {% for instrument in list_instrument %}
                  <option value="{{ instrument }}">{{ instrument | title }}</option>
                  {% endfor %}

                  </optgroup>
              </select>
              </div>
              <br/><br/>

              <div class="card-header">
              <div>
              Number of parts
              </div>
              <select multiple="true" name="numofparts" class="px-4 mx-2 custom-select custom-select-sm">
              <optgroup label = "Number of parts">
                  <option selected>Not selected</option>
                  {% for numofparts in list_numofparts %}
                  <option value="{{ numofparts }}">{{ numofparts | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>
              <br/><br/>

              <div class="card-header">
              <div>
              Number of measures
              </div>
              <select multiple="true" name="numofmeasures" class="px-4 mx-2 custom-select custom-select-sm">
              <optgroup label = "Number of measures">
                  <option selected>Not selected</option>
                  {% for numofmeasures in list_numofmeasures %}
                  <option value="{{ numofmeasures }}">{{ numofmeasures | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>
              <br/><br/>

              <div class="card-header">
              <div>
              Indices
              </div>
              <select multiple="true" name="indexname" class="px-4 mx-2 custom-select custom-select-sm">
              <optgroup label = "Indices">
                  <option selected>Not selected</option>
                  {% for index in indices_names %}
                  <option value="{{ index }}">{{ index | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>
              <br/><br/>
{%comment%}

              {% for i, v in countnum.items %}
              <div>
                  {{i}}
              </div>
                  <br/>
                  <select multiple="true" name={{i}} class="px-4 mx-2 custom-select custom-select-sm">
                  <optgroup label = {{i}}>
                  {%for x, y in v.items %}
                  <option value ="{{i}}"> {{x |title}}</option>
                  {{y}}
                  {%endfor%}
                </optgroup>
              </select>
                  <br/>
              {%endfor%}

{%endcomment%}
        </ul>
        <input class="px-4 mx-2 my-1" type="submit" value="Select">
      </div>

    </div>
  </div>
</div>

</form>


{% endblock %}
