{% extends 'base.html'%}
<link rel="stylesheet" href="search/static/search/style.css">
{% block content %}
{% include 'navbar.html' %}

<form action="/search/discovery_result/" method="post">
{% csrf_token %}

<div class="container">
<h1 class="text-center">Explore</h1>
  <div class="row mb-6 justify-content-evenly">

    <div class="col-lg-6 mx-auto">
        <div class="p-3 card-header my-4">
            <label><h4>Composers</h4></label>
            </br>
            <select class="px-4 mx-2 form-select form-select-lg" name="composer" >
              <optgroup>
                  <option selected>
                  Not selected
                  </option>
                  {% for composer in list_composer %}
                  <option value="{{ composer }}">{{ composer | title }}</option>
                  {% endfor %}
              </optgroup>
              </select>
            </div>

              <br/>
              
              <div class="p-3 rounded shadow my-4">
              <label><h4>Period</h4></label>
              </br>
              <select name="period" class="px-4 mx-2 form-select form-select-lg">
              <optgroup>
                  <option selected>
                  Not selected
                  </option>
                  {% for period in list_period %}
                  <option value="{{ period }}">{{ period | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>

              <br/>

              <div class="p-3 card-header my-4">
              <label><h4>Key</h4></label></br>
              <select name="key" class="px-4 mx-2 form-select form-select-lg">
              <optgroup label = "">
                  <option selected>Not selected</option>
                  {% for key in list_key %}
                  <option value="{{ key }}">{{ key | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>
              <br/>

              <div class="p-3 rounded shadow my-4">
              <label><h4>Time Signature</h4></label></br>
              <select name="timesig" class="px-4 mx-2 form-select form-select-lg">
              <optgroup>
                  <option selected>Not selected</option>
                  {% for timesig in list_timesig %}
                  <option value="{{ timesig }}">{{ timesig | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>
              <br/>

      </div>
      <div class="col-lg-6 mx-auto">

              <div class="p-3 rounded shadow my-4">
              <label><h4>Instruments</h4></label></br>
              <select name="instrument" class="px-4 mx-2 form-select form-select-lg">
              <optgroup label = "">
                  <option selected>Not selected</option>
                  {% for instrument in list_instrument %}
                  <option value="{{ instrument }}">{{ instrument | title }}</option>
                  {% endfor %}

                  </optgroup>
              </select>
              </div>
              <br/>

              <div class="p-3 card-header my-4 ">
              <label><h4>Number of parts</h4></label></br>
              <select name="numofparts" class="px-4 mx-2 form-select form-select-lg">
              <optgroup label = "">
                  <option selected>Not selected</option>
                  {% for numofparts in list_numofparts %}
                  <option value="{{ numofparts }}">{{ numofparts | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>
              <br/>

              <div class="p-3 rounded shadow my-4">
              <label><h4>Number of measures</h4></label></br>
              <select  name="numofmeasures" class="px-4 mx-2 form-select form-select-lg">
              <optgroup label = "">
                  <option selected>Not selected</option>
                  {% for numofmeasures in list_numofmeasures %}
                  <option value="{{ numofmeasures }}">{{ numofmeasures | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>
              <br/>

              <div class="p-3 card-header my-4">
              <label><h4>Indices</h4></label></br>
              <select name="indexname" class="px-4 mx-2 form-select form-select-lg">
              <optgroup label = "">
                  <option selected>Not selected</option>
                  {% for index in indices_names %}
                  <option value="{{ index }}">{{ index | title }}</option>
                  {% endfor %}
                  </optgroup>
              </select>
              </div>
              <br/>

      </div>
      
    </div>
    <h4 class="text-center">
        <input class="btn text-white navactive discovery px-4 mx-2 my-1" type="submit" value="Explore">
      </h4>
  </div>
</div>
</form>


{% endblock %}
