{% block content %}

<div class="alert d-flex justify-content-center my-1">
      {% if searchinput.index_name %}
<a href="#" onclick="toggle_visibility('searchform');">
						<button type="button" class="btn btn-secondary" aria-label="abstract">
              Toggle search form </button> </a>
      {% endif %}
</div>

<div id="searchform"> <!-- search form -->
You may input a query with a piano keyboard or in abc notation. Pick the suitable tab below.
<br/><br/>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a id="pianobutton" class="nav-link active searchtablinks" onclick="openTab(event, 'Pianotab')" aria-current="page" href="#">Piano</a>
  </li>
  <li class="nav-item">
    <a class="nav-link searchtablinks" onclick="openTab(event, 'ABC')" aria-current="page" href="#">ABC</a>
  </li>
</ul>

<!-- Tab content -->

<form id="searchform" action="/search/results/" method="post" onsubmit="return validateMyForm(this);">

  <div id="formwrap"> <!-- wrapper div -->

    <div class="mb-2 pt-3 mx-auto d-flex justify-content-center"> <!-- buttons -->

    <select name="indexname" class="px-4 mr-2 my-auto custom-select custom-select-sm" required style="width: 10rem;">
      {% if searchinput.index_name %}
      <option selected>{{ searchinput.index_name | title }}</option>
      {% else %}
      <option selected>Index name</option>
      {% endif %}
      {% for index in indices_names %}
      {% if searchinput.index_name != index %}
      <option value="{{ index }}">{{ index | title }}</option>
      {% endif %}
      {% endfor %}
    </select>

    <select name="searchtype" class="px-4 mx-2 my-auto custom-select custom-select-sm" required style="width: 10rem;">
      {% if searchinput.type %}
      <option selected>{{ searchinput.type | title }}</option>
      {% else %}
      <option selected>Search type</option>
      {% endif %}
      {% if searchinput.type != 'chromatic' %}
      <option value="chromatic">Chromatic</option>
      {% endif %}
      {% if searchinput.type != 'diatonic' %}
      <option value="diatonic">Diatonic</option>
      {% endif %}
      {% if searchinput.type != 'rhythmic' %}
      <option value="rhythmic">Rhythmic</option>
      {% endif %}
      {% if searchinput.type != 'lyrics' %}
      <option value="lyrics">Lyrics</option>
      {% endif %}
    </select>


    <div class="px-4 mx-2 my-auto form-group form-check">
      <input type="checkbox" class="form-check-input" name="mirror" id="MirrorSearch" {% if searchinput.mirror %}checked{% endif %} >
      <label class="form-check-label" for="MirrorSearch" style="width: 10rem;">Include mirror pattern</label>
    </div>

    <div class="input-group-append">
      <button id="button-addon1" type="submit" class="btn btn-primary"><i class="fa fa-search">&nbsp;Search&nbsp;</i></button>
    </div>

  </div>

  <div id="ABC" class="searchtabcontent">
    {% csrf_token %}

    <div class="p-3 bg-light rounded rounded-pill shadow-sm">

      <div class="input-group px-4">
        <textarea name="pattern" placeholder="Input your abc pattern here" class="form-control" id="exampleFormControlTextarea1" rows="2">{% if searchinput.pattern %}{{ searchinput.pattern }}{% endif %}</textarea>
      </div>

    </div>
  </div>

  <div id="Pianotab" class="searchtabcontent">
    <div id="keyboardZone" class="bg-white p-1 rounded shadow" >
      <div class="d-flex justify-content-center">
        {% include 'search/keyboard.html' %}
      </div>
    </div>
  </div>
  </div> <!-- wrapper div-->


</form>
<!-- End -->
{% comment %}</div>{% endcomment %}
</div>

  <script>
    function openTab(evt, tabName) {
        // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("searchtabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
          }

      // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("searchtablinks");
        for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    } 

    // open Piano by default
    document.getElementById("pianobutton").click();
  </script>

<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>

<script type="text/javascript">
	function validateMyForm(form)
	{
		if(!form.indexname.selectedIndex > 0) {
			// the default first option remains selected
      document.getElementById("search-message").style.display = "block";
      document.getElementById("search-message").innerHTML = "<h4>Select an index and a search method</h4>";
			return false;
		}
		return true;
	}
</script>


{% endblock content %}
