{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row mb-8">

        <div class="col-lg-2 mx-auto">
        </div>

        <div class="col-lg-8 mx-auto">
            <h1 class="text-center">{{ globalvariables.sitename }} MusicDoc View</h1>

            <div class="card text-center">
                <div class="card-header">
                    <ul>
                        <li>Document ID: {{ doc_id }} </li>
                        {% if title != null and title != "" %}
                        <li> Title: {{ title }} </li>
                        {% else %}
                        {% endif %}
                        {% if composer != null and composer != ""%}
                        <li> Composer: {{ composer }} </li>
                        {% else %}
                        {% endif %}
                        <li>Score format: {{ doc_type }} </li>
                        <li>Matching locations: {{ highlight_ids }} </li>
                    </ul>
                </div>
                {% if doc_url %}

    <script type="text/javascript">
    function decodeHTMLEntities(text) {
        let textArea = document.createElement('textarea');
        textArea.innerHTML = text;
        return textArea.value;
    }
    document.addEventListener('DOMContentLoaded', (event) => {
        $.ajax({
            url: "{{doc_url}}", 
            dataType: "text", 
            highlightids: "{{highlight_ids}}",
            success: function(data) {
                let svg = vrvToolkit.renderData(data);
                document.getElementById("notation").innerHTML = svg;
                var todecode = "{{highlight_ids}}"
                // decode html so " symbol can be read
                var decoded = decodeHTMLEntities(todecode)
                var highlightids = [];
                highlightids = decoded.split(", ");
                //get rid of "[" and "]" in the first and last item of the list
                highlightids[0] = highlightids[0].split('[')[1]
                numids = highlightids.length
                highlightids[numids-1] = highlightids[numids-1].split(']')[0]
                console.log(highlightids);

                for (var i = 0; i < highlightids.length; i++) {
                    // TODO: should we also get rid of "" in each item to highlight?
                    // TODO: this does not seem to work now
                    match = document.getElementById(highlightids[i]);
                    if (match != null) {
                        match.style.stroke = "#ff0487";
                    ;
                    match.style.fill = "#ff0000";
                    ;
                    match.style.fillOpacity = 1.0;
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log("Error with document {{doc_url}} " + xhr.status);
            }
        });
    });
    </script>

{%comment%}
    <script type="text/javascript">
        function displayWithVerovio(highlights) {
            /* Highlight the score elements */
            for (var i = 0; i < highlights.length; i++) {
                match = document.getElementById(highlights[i]);
                if (match != null) {
                    match.style.stroke = "#ff0487";
                    ;
                    match.style.fill = "#ff0000";
                    ;
                    match.style.fillOpacity = 1.0;
                }
            }
    </script>
{%endcomment%}

    <table class="preview"><tr>
        <td valign="top"> </td>
        <td>     <div id="notation">score placeholder</div> </td>

    </tr>
    </table>
                {% else %}
                no score to display
                {% endif %}
            </div>
        </div>

        <div class="col-lg-2 mx-auto">
        </div>

    </div> <!-- row -->
</div> <!-- container -->

{% endblock %}
