{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<div class="container">
    <div class="row mb-8">

        <div class="col-lg-12 mx-auto">
            <h1 class="text-center">
    {% if title != null and title != "" %}{{ title }} &mdash; {{ composer }}{% else %}Document {{ doc_id }}{% endif %}
            </h1>

            <div class="card">
                <div class="card-header">
                    <ul>
                        <li>Document ID: {{ doc_id }} </li>
                        {% if title != null and title != "" %}
                        <li> Title: {{ title }} </li>
                        {% else %}
                        {% endif %}
                        {% if composer != null and composer != ""%}
                        <li> Composer: {{ composer }} </li>
                        {% else %}
                        {% endif %}
                        <li>Score format: {{ doc_type }} </li>
                        {%comment%}
                        <li>Matching locations: {{ highlight_ids }} </li>
                        {%endcomment%}
                    </ul>
                </div>
                {% if doc_url %}

    <script type="text/javascript">
    function decodeHTMLEntities(text) {
        let textArea = document.createElement('textarea');
        textArea.innerHTML = text;
        return textArea.value;
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        $.ajax({
            url: "{{doc_url}}", 
            dataType: "text", 
            highlightids: "{{highlight_ids}}",
            success: function(data) {
                let svg = vrvToolkit.renderData(data);

                // some re-formatting is needed for getting a neat htmlcollection of ids to highlight
                // first get the highlight_ids, encode and split them
                var todecode = "{{highlight_ids}}"
                // decode html so " symbol can be read
                var decoded = decodeHTMLEntities(todecode)

                var highlightids = [];
                highlightids = decoded.split(", ");
                
                // then get rid of "[" and "]" in the first and last item of the list
                highlightids[0] = highlightids[0].split('[')[1];
                numids = highlightids.length;
                highlightids[numids-1] = highlightids[numids-1].split(']')[0];

                for (var i = 0; i < highlightids.length; i++) {
                    //get rid of the "" in each string, replace each element in highlightids
                    temp = highlightids[i].split('"');
                    highlightids[i] = temp[1];
                    //console.log(highlightids[i])
                }
                
                document.getElementById("notation").innerHTML = svg;
                let filecontent = document.getElementById("notation")
                // now get all the note elements from svg 
                var notes = filecontent.getElementsByClassName("note")
                for(var i = 0; i < notes.length; i++) {
                    var match = false
                    var match = highlightids.includes(notes[i].id)
                    // check if the current note needs highlighting
                    if (match != false) {
                        //if yes, highlight it
                        notes[i].style.stroke = "#ff0487";
                        notes[i].style.fill = "#ff0000";
                        notes[i].style.fillOpacity = 1.0;
                    }
                }
                // ATTENTION: the current version works for MEI but is problematic with XML, as the highlightids are not using the same representation as what's in svg, thus it's impossible to find matched ids to highlight. need to fix!
                
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log("Error with document {{doc_url}} " + xhr.status);
            }
        });
    });

    </script>

        <div id="notation" >
            score placeholder
        </div>
    
        {% else %}
        no score to display
        {% endif %}
        </div>
        </div>


    </div> <!-- row -->
</div> <!-- container -->



{% endblock %}
