{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}
{%comment%}
<link rel="stylesheet" href="/static/csstheme/piano.css" type="text/css" media="screen" />

<script src="/static/js/piano.js"></script>
<script src="/static/js/soundmanager.js"></script>
{%endcomment%}
<div class="container">

  <div class="row mb-5">
    <div class="col-lg-8 mx-auto">

      <h1 class="text-center">Search music data</h1>
      {% include 'search/form.html' %}

    </div>
  </div>

</div>
{% endblock %}
